
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/* font-family: 'Playfair Display', serif; - MENU / CONTANOS */

    
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
/*ENCABEZADO

.background-nav{
    background-color: #C0D8C0;
}

.menu-list{
    color: #45595a;
    font-family: 'Playfair Display', serif;
}

LOGO
.logo-img{
    padding: 5px 0 5px 7px;
    width: 170px;
}
*/

/*SECCION
.section-img-px{
    width: 100%;
    height: auto;
    padding: 1px 0 0 0;
}

/*CONTANOS EL MOTIVO
.div-h1{
    color: #45595a;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    background-color: #e4efe7;
    padding: 5% 0 12% 0 ;
    text-align: center;
    line-height: 1,5; 
}
*/


/*NOSOTROS

.us-mobile-container{
    display: none;
}

.section-us{
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}
WEDDINGS
.img-weddings-1{
    width: 430px;
    height: auto;
}

.p-weddings{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
}

.img-wedding-2{
    width: 430px;
    height: auto;
}

FOTOGRAFOS
.img-photographers-1{
    width: 430px;
    height: auto;
}

.p-photographers{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
}

.img-photographers-2{
    width: 430px;
    height: auto;
}

COCINEROS
.img-chefs-1{
    width: 430px;
    height: auto;
}
.p-chefs{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    background-color: #E4EFE7;
    padding: 15% 6% 0 6%;
    text-align: justify;
    font-size: 16px;
}

.img-chefs-2{
    width: 430px;
    height: auto;
}

DJ
.img-dj-1{
    width: 430px;
    height: auto;
}

.p-dj{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
    font-size: 16px;
}

.img-dj-2{
    width: 430px;
    height: auto;
}


/*GALERIA - PROYECTOS
.music{
    padding: 15px 0 0 0;
}
*/

/*TESTIMONIOS

.section-testimonials{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #F5F5F5;
}

.img-testimonials{
    width: auto;
    height: 356px;
}

.p-testimonials{
padding: 10% 10%;
}
*/



/*PIE DE PAGINA
.footer{
    font-family: 'Playfair Display', serif;
    color: #45595A;
    background-color: #C0D8C0;
    padding: 3% 0;
    line-height: 2;
    font-size: 25px;
    text-align: center;
}

.footer-info{
    font-size: 10px;
}

.icons{
    display: flex;
    justify-content: space-around;
    padding: 3% 40% 0 40%;
}
*/

/*CELULAR*/
@media screen and (max-width: 450px) {
 
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
.logo-img{
    width: 150px;
}

.menu-list{
    display: flex;
    justify-content: end;
}

/*CONTANOS EL MOTIVO*/
.div-h1{
font-size: 13px;
}

/*NOSOTROS*/

/*WEDDINGS*/
.img-weddings-1{
width: 110px;
height: auto;
}

.p-weddings{
font-size: 7px;
padding: 2% 2%;
}

.img-wedding-2{
width: 110px;
height: auto;
}

/*FOTOGRAFOS*/
.img-photographers-1{
width: 110px;
height: auto;
}

.p-photographers{
font-size: 7px;
padding: 2% 2%;
}

.img-photographers-2{
width: 110px;
height: auto;
}

/*COCINEROS*/
.img-chefs-1{
width: 110px;
height: auto;
}

.p-chefs{
padding: 2% 2%;
font-size: 7px;
}

.img-chefs-2{
width: 110px;
height: auto;
}

.img-dj-1{
width: 110px;
height: auto;
}

.p-dj{
padding: 2% 2%;
font-size: 7px;
}

.img-dj-2{
width: 110px;
height: auto;
}


/*GALERIA*/
.music{
padding: 2% 0 0 0;
}


/*TESTIMONIOS*/

.section-testimonials{
font-size: 11px;
object-fit: cover;
}

.img-testimonials{
width: auto;
height: 250px;
}

.p-testimonials{
    padding: 6% 6%;
}



/*PIE DE PAGINA*/
.footer{
padding: 6% 0;
font-size: 11px;
}

/*CIERRE CELULAR*/
}








