/*-----COMPONENTES-----*/
/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  color: #45595A;
}
header nav {
  background-color: #C0D8C0;
}
header nav div a img {
  padding: 5px 0 5px 7px;
  width: 170px;
}
header nav div div {
  font-family: "Playfair Display", serif;
}

/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
main section img {
  width: 100%;
  height: auto;
  padding: 1px 0 0 0;
}
main div {
  color: #45595A;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  background-color: #E4EFE7;
  padding: 5% 0 12% 0;
  text-align: center;
  line-height: 1, 5;
}

/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
.us-mobile-container {
  display: none;
}

.img-us {
  width: 430px;
  height: auto;
}

.p-us {
  color: #45595A;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  background-color: #E4EFE7;
  text-align: justify;
  padding: 8% 6% 0 6%;
}

.carrusel-container {
  height: auto;
  width: 100%;
}

.carrusel-img {
  height: 100%;
}

/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
.section-testimonials, .section-us {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}

.section-testimonials {
  color: #45595A;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  text-align: justify;
  text-align: center;
}

.img-testimonials {
  width: auto;
  height: 356px;
}

.p-testimonials {
  padding: 10% 10%;
}

/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
footer {
  font-family: "Playfair Display", serif;
  color: #45595A;
  background-color: #C0D8C0;
  padding: 3% 0;
  line-height: 2;
  font-size: 25px;
  text-align: center;
}
footer div > footer-info {
  font-size: 10px;
}
footer .icons {
  display: flex;
  justify-content: space-around;
  padding: 3% 40% 0 40%;
}

/*-----MOBILE-----*/
/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/
@media screen and (max-widht: 450px) {
  * {
    margin: 0;
    padding: 0;
  }

  header nav div div {
    display: flex;
    justify-content: end;
  }

  main section img {
    width: 150px;
  }
  main div {
    font-size: 13px;
  }

  img-us {
    width: 30px;
    height: auto;
  }
}
/*-----BASE-----*/
.section-us, .section-testimonials {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
}

/*GENERAL*/
/*US-NOSOTROS*/
/*texto*/
/*TESTIMONIOS*/
/*general*/
/*imagen*/
/*parrafo*/

/*# sourceMappingURL=style.css.map */
