
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/* font-family: 'Playfair Display', serif; - MENU / CONTANOS */

    
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/
/*ENCABEZADO*/

.background-nav{
    background-color: #C0D8C0;
}

.color-letter{
    color: #45595a;
}
/*LOGO*/
.logo-img{
    padding: 5px 0 5px 15px;
    width: 40%;
}


/*SECCION*/
.section-img-px{
    width: 100%;
    height: auto;
    padding: 1px 0 0 0;
}

/*CONTANOS EL MOTIVO*/
.div-h1{
    color: #45595a;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    background-color: #e4efe7;
    padding: 5% 0 12% 0 ;
    text-align: center;
    line-height: 1,5; 
}



/*NOSOTROS*/

.section-us{
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}
/*WEDDINGS*/
.img-weddings-1{
    width: 430px;
    height: auto;
}

.p-weddings{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
}

.img-wedding-2{
    width: 430px;
    height: auto;
}

/*FOTOGRAFOS*/
.img-photographers-1{
    width: 430px;
    height: auto;
}

.p-photographers{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
}

.img-photographers-2{
    width: 430px;
    height: auto;
}

/*COCINEROS*/
.img-chefs-1{
    width: 430px;
    height: auto;
}
.p-chefs{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    background-color: #E4EFE7;
    padding: 15% 6% 0 6%;
    text-align: justify;
    font-size: 16px;
}

.img-chefs-2{
    width: 430px;
    height: auto;
}

/*DJ*/
.img-dj-1{
    width: 430px;
    height: auto;
}

.p-dj{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    background-color: #E4EFE7;
    text-align: justify;
    padding: 15% 6% 0 6%;
    font-size: 16px;
}

.img-dj-2{
    width: 430px;
    height: auto;
}


/*GALERIA - PROYECTOS*/
.music{
    padding: 15px 0 0 0;
}


/*TESTIMONIOS*/

.section-testimonials{
    color: #45595A;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: justify;
    display: flex;
    justify-content: space-between;
}

.img-testimonials{
    width: 250px;
    height: auto;
}

.p-testimonials{
    background-color: #F5F5F5;
    padding: 10% 10%;
}




/*PIE DE PAGINA*/
.footer{
    font-family: 'Playfair Display', serif;
    color: #45595A;
    background-color: #C0D8C0;
    padding: 3% 0;
    line-height: 2;
    font-size: 20px;
    text-align: center;
}


.icons{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding: 3% 40% 0 40%;
}


@media screen and (max-width: 450px) {
    
/*CELULAR*/
*{
    margin: 0;
    padding: 0;
}
/*INDEX*/

/*SECCION*/
.section-img-px{
    width: 100%;
    height: auto;
}


/*CONTANOS EL MOTIVO*/
.div-h1{
color: #45595a;
font-family: 'Playfair Display', serif;
font-size: 13px;
background-color: #e4efe7;
padding: 5% 0 12% 0 ;
text-align: center;
line-height: 1,5; 
}

/*NOSOTROS*/
.section-us{
display: flex;
justify-content: space-between;
object-fit: cover;
}
/*WEDDINGS*/
.img-weddings-1{
width: 110px;
height: auto;
}

.p-weddings{
color: #45595A;
font-family: 'Playfair Display', serif;
font-size: 6px;
background-color: #E4EFE7;
text-align: justify;
padding: 5% 4% 4% 4%;
}

.img-wedding-2{
width: 110px;
height: auto;
}

/*FOTOGRAFOS*/
.img-photographers-1{
width: 110px;
height: auto;
}

.p-photographers{
color: #45595A;
font-family: 'Playfair Display', serif;
font-size: 6px;
background-color: #E4EFE7;
text-align: justify;
padding: 9% 4% 0 4%;
}

.img-photographers-2{
width: 110px;
height: auto;
}

/*COCINEROS*/
.img-chefs-1{
width: 110px;
height: auto;
}
.p-chefs{
color: #45595A;
font-family: 'Playfair Display', serif;
background-color: #E4EFE7;
padding: 8% 4% 0 4%;
text-align: justify;
font-size: 6px;
}

.img-chefs-2{
width: 110px;
height: auto;
}

/*DJ*/
.img-dj-1{
width: 110px;
height: auto;
}

.p-dj{
color: #45595A;
font-family: 'Playfair Display', serif;
background-color: #E4EFE7;
text-align: justify;
padding: 9% 4% 0 4%;
font-size: 6px;
}

.img-dj-2{
width: 110px;
height: auto;
}


/*GALERIA*/
.music{
padding: 2% 0 0 0;
}


/*TESTIMONIOS*/

.section-testimonials{
color: #45595A;
font-family: 'Playfair Display', serif;
font-size: 10px;
text-align: justify;
display: flex;
justify-content: space-between;
object-fit: cover;
}

.img-testimonials{
width: 125px;
height: auto;
}

.p-testimonials{
background-color: #F5F5F5;
padding: 10% 10%;
}




/*PIE DE PAGINA*/
.footer{
font-family: 'Playfair Display', serif;
color: #45595A;
background-color: #E4EFE7;
padding: 6% 0;
line-height: 2;
font-size: 11px;
text-align: center;
}

/*CIERRE CELULAR*/
}








