
/*GENERAL*/
$font-family: 'Playfair Display', serif;
$background-color: #E4EFE7;
$color-texto: #45595A;


/*US-NOSOTROS*/
/*texto*/
$justify-content-us: space-between;
$object-fit-us: cover;
$font-size-us: 16px;
$text-align-us: justify;
$padding-us: 15% 6% 0 6%;

/*imagen*/
$width-img-us: 430px;
$height-img-us: auto;




