@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@media screen and (max-widht: 450px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    header{
        nav{
            div{
                div{
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }

    main{
        section{
            img{
                width: 150px;
            }
        }
        div{
            font-size: 13px;
        }
    }

    .section-us-container{
        display: none;
    }

    .us-mobile{
        color: $color-texto;
        font-family: $font-family;
        background-color: $background-color;
    }

    .photo-mobile{
        width: 85px;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .paragraph-mobile{
        padding: 2% 3% 0 2%;
        font-size: 7.5px;
        text-align: justify;
    }


}