@import '../base/variables';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@media screen and (max-widht: 450px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    header{
        nav{
            div{
                div{
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }

    main{
        section{
            img{
                width: 150px;
            }
        }
        div{
            font-size: 13px;
        }
    }

img-us{
    width: 30px;
    height: auto;
}
}