@import '../base/variables';
@import '../base/mixin';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.section-us{
    object-fit: cover;
    display: flex;
    justify-content: space-between;
}

.img-us{
    @include img (430px , auto);
}

.p-us{
    color: $color-texto;
    font-family: $font-family;
    font-size: $font-size-us;
    background-color: $background-color;
    text-align: $text-align-us;
    padding: $padding-us;
}
