@import '../base/variables';
@import '../base/extend';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.section-testimonials{
    color: $color-texto;
    font-family: $font-family;
    font-size: $font-size-testimonials;
    text-align: $text-align-testimonials;
    text-align: $text-align-testimonials-dos;
    @extend %flex ;
}
.img-testimonials{
    @include img (auto, 356px);
    
}
.p-testimonials{
    padding: $padding-testimonials;
}
    