
footer {
    font-family: 'Playfair Display', serif;
    color: #45595A;
    background-color: #C0D8C0;
    padding: 3% 0;
    line-height: 2;
    font-size: 25px;
    text-align: center;
        div {
            font-size: 10px;
        }
        div {
            display: flex;
            justify-content: space-around;
            padding: 3% 40% 0 40%;
    }
}