@import '../base/variables';

.us-mobile-container{
    display: none;
}

.section-us{
    display: flex;
    justify-content: $justify-content-us;
    object-fit: $object-fit-us;
}

.img-us{
    width: $width-img-us;
    height: $height-img-us;
}

.p-us{
    color: $color-texto;
    font-family: $font-family;
    font-size: $font-size-us;
    background-color: $background-color;
    text-align: $text-align-us;
    padding: $padding-us;
}
