
/*GENERAL*/
$font-family: 'Playfair Display', serif;
$background-color: #E4EFE7;
$color-texto: #45595A;
$background-color-header-footer: #C0D8C0;



/*US-NOSOTROS*/
/*texto*/
$font-size-us: 16px;
$text-align-us: justify;
$padding-us: 8% 6% 0 6%;

/*imagen*/
$width-img-us: 430px;
$height-img-us: auto;



/*TESTIMONIOS*/
/*general*/
$font-size-testimonials: 15px;
$text-align-testimonials: justify;
$justify-content-testimonials: space-between;
$text-align-testimonials-dos: center;

/*imagen*/
$width-img-testimonials: auto;
$height-img-testimonials: 356px;

/*parrafo*/
$padding-testimonials: 10% 10%;



